<div class="container" style="margin-top: 4rem">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 20rem">
        <img src="https://images.pexels.com/photos/1521580/pexels-photo-1521580.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Fast & Safe</h5>
          <p class="card-text">
            Dorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis
            erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras
            facilisis, nulla vel viver auctor, leo magna sodales felis, quis
            malesuad
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem">
        <img src="https://images.pexels.com/photos/4606338/pexels-photo-4606338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Best Prices</h5>
          <p class="card-text">
            Dorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis
            erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras
            facilisis, nulla vel viver auctor, leo magna sodales felis, quis
            malesuad
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem">
        <img src="https://images.pexels.com/photos/5835362/pexels-photo-5835362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Package Delivery</h5>
          <p class="card-text">
            Dorem ipsum dolor sit amet, consectetur adipiscinger elit. In mollis
            erat mattis neque facilisis, sit ameter ultricies erat rutrum. Cras
            facilisis, nulla vel viver auctor, leo magna sodales felis, quis
            malesuad
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
